@model List<YummyProject.Models.Chef>

<div class="container">
    <div class="row gy-4">
        @foreach (var _item in Model)
        {
            <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="team-member">
                    <div class="member-img">
                        <img src="@_item.ImageUrl" class="img-fluid" alt="@_item.Name">
                        <div class="social">
                            @foreach (var social in _item.ChefSocial)
                            {
                                <a href="@social.Url"><i class="@social.Icon"></i></a>
                            }
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>@_item.Name</h4>
                        <span>@_item.Title</span>
                        <p>@_item.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
