@model  List<YummyProject.Models.Booking>
@{
    ViewBag.Title = "ShowUnApproved";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Show Unapproved</h2>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Booking Date</th>
            <th>Person Count</th>
            <th>Message Content</th>
            <th>Is Approved</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.BookingId</td>
                <td>@booking.Name</td>
                <td>@booking.Email</td>
                <td>@booking.PhoneNumber</td>
                <td>@booking.BookingDate.ToShortDateString()</td>
                <td>@booking.PersonCount</td>
                <td>@booking.MessageContent</td>
                <td>Unapproved</td>

            </tr>
        }
    </tbody>
</table>
<a href="/Booking/Index" class="btn btn-primary">Go back!</a>
