@model YummyProject.Models.Event
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Update</h2>


<form method="post">
    @Html.HiddenFor(x => x.EventId)

    <label> Image Url</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <p class="text-danger">
        @Html.ValidationMessageFor(x => x.ImageUrl)
    </p>
    <br />

    <label> Title</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <p class="text-danger">
        @Html.ValidationMessageFor(x => x.Title)
    </p>
    <br />

    <label> Description</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <p class="text-danger">
        @Html.ValidationMessageFor(x => x.Description)
    </p>
    <br />

    <label> Price</label>
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <p class="text-danger">
        @Html.ValidationMessageFor(x => x.Price)
    </p>
    <br />

    <button class="btn btn-outline-success">Submit </button>

</form>